<a href="https://colab.research.google.com/github/JoeGanser/teaching/blob/main/MasterSchool/SQL_week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Week 2 Exercises: Load the data in JSON format using the following code;

In [3]:
import json
url = "https://progzoo.net/world.json"
from urllib.request import urlopen

raw = urlopen(url).read()
json_data = json.loads(raw)
json_data

{'result': [{'gdp': 20364000000,
   'name': 'Afghanistan',
   'area': 652230,
   'tld': '.af',
   'id': 0,
   'flag': '//upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_the_Taliban.svg',
   'capital': 'Kabul',
   'continent': 'Asia',
   'population': 25500100},
  {'gdp': 12044000000,
   'name': 'Albania',
   'area': 28748,
   'tld': '.al',
   'id': 1,
   'flag': '//upload.wikimedia.org/wikipedia/commons/3/36/Flag_of_Albania.svg',
   'capital': 'Tirana',
   'continent': 'Europe',
   'population': 2821977},
  {'gdp': 207021000000,
   'name': 'Algeria',
   'area': 2381741,
   'tld': '.dz',
   'id': 2,
   'flag': '//upload.wikimedia.org/wikipedia/commons/7/77/Flag_of_Algeria.svg',
   'capital': 'Algiers',
   'continent': 'Africa',
   'population': 38700000},
  {'gdp': 3222000000,
   'name': 'Andorra',
   'area': 468,
   'tld': '.ad',
   'id': 3,
   'flag': '//upload.wikimedia.org/wikipedia/commons/1/19/Flag_of_Andorra.svg',
   'capital': 'Andorra la Vella',
   'continent': 'Europe',
   'population': 76098},
  {'gdp': 116308000000,
   'name': 'Angola',
   'area': 1246700,
   'tld': '.ao',
   'id': 4,
   'flag': '//upload.wikimedia.org/wikipedia/commons/9/9d/Flag_of_Angola.svg',
   'capital': 'Luanda',
   'continent': 'Africa',
   'population': 19183590},
  {'gdp': 1176000000,
   'name': 'Antigua and Barbuda',
   'area': 442,
   'tld': '.ag',
   'id': 5,
   'flag': '//upload.wikimedia.org/wikipedia/commons/8/89/Flag_of_Antigua_and_Barbuda.svg',
   'capital': "St. John's",
   'continent': 'Caribbean',
   'population': 86295},
  {'gdp': 477028000000,
   'name': 'Argentina',
   'area': 2780400,
   'tld': '.ar',
   'id': 6,
   'flag': '//upload.wikimedia.org/wikipedia/commons/1/1a/Flag_of_Argentina.svg',
   'capital': 'Buenos Aires',
   'continent': 'South America',
   'population': 42669500},
  {'gdp': 9950000000,
   'name': 'Armenia',
   'area': 29743,
   'tld': '.am',
   'id': 7,
   'flag': '//upload.wikimedia.org/wikipedia/commons/2/2f/Flag_of_Armenia.svg',
   'capital': 'Yerevan',
   'continent': 'Eurasia',
   'population': 3017400},
  {'gdp': 1564419000000,
   'name': 'Australia',
   'area': 7692024,
   'tld': '.au',
   'id': 8,
   'flag': '//upload.wikimedia.org/wikipedia/commons/b/b9/Flag_of_Australia.svg',
   'capital': 'Canberra',
   'continent': 'Oceania',
   'population': 23545500},
  {'gdp': 394458000000,
   'name': 'Austria',
   'area': 83871,
   'tld': '.at',
   'id': 9,
   'flag': '//upload.wikimedia.org/wikipedia/commons/4/41/Flag_of_Austria.svg',
   'capital': 'Vienna',
   'continent': 'Europe',
   'population': 8504850},
  {'gdp': 68727000000,
   'name': 'Azerbaijan',
   'area': 86600,
   'tld': '.az',
   'id': 10,
   'flag': '//upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg',
   'capital': 'Baku',
   'continent': 'Asia',
   'population': 9477100},
  {'gdp': 8043000000,
   'name': 'Bahamas',
   'area': 13878,
   'tld': '.bs',
   'id': 11,
   'flag': '//upload.wikimedia.org/wikipedia/commons/9/93/Flag_of_the_Bahamas.svg',
   'capital': 'Nassau',
   'continent': 'Caribbean',
   'population': 351461},
  {'gdp': 30362000000,
   'name': 'Bahrain',
   'area': 765,
   'tld': '.bh',
   'id': 12,
   'flag': '//upload.wikimedia.org/wikipedia/commons/2/2c/Flag_of_Bahrain.svg',
   'capital': 'Manama',
   'continent': 'Asia',
   'population': 1234571},
  {'gdp': 127195000000,
   'name': 'Bangladesh',
   'area': 147570,
   'tld': '.bd',
   'id': 13,
   'flag': '//upload.wikimedia.org/wikipedia/commons/f/f9/Flag_of_Bangladesh.svg',
   'capital': 'Dhaka',
   'continent': 'Asia',
   'population': 156557000},
  {'gdp': 4533000000,
   'name': 'Barbados',
   'area': 430,
   'tld': '.bb',
   'id': 14,
   'flag': '//upload.wikimedia.org/wikipedia/commons/e/ef/Flag_of_Barbados.svg',
   'capital': 'Bridgetown',
   'continent': 'Caribbean',
   'population': 285000},
  {'gdp': 63259000000,
   'name': 'Belarus',
   'area': 207600,
   'tld': '.by',
   'id': 15,
   'flag': '//upload.wikimedia.org/wikipedia/commons/8/85/Flag_of_Belarus.svg',
   'capital': 'Minsk',
   'continent': 'Europe',
   'population': 9467000},
  {'gdp': 483402000000,
   'name': 'Belgium',
   'area': 30528,
   'tld': '.be',
   'id': 16,
   'flag': '//upload.wikimedia.org/wikipedia/commons/6/65/Flag_of_Belgium.svg',
   'capital': 'City of Brussels',
   'continent': 'Europe',
   'population': 11198638},
  {'gdp': 1554000000,
   'name': 'Belize',
   'area': 22966,
   'tld': '.bz',
   'id': 17,
   'flag': '//upload.wikimedia.org/wikipedia/commons/e/e7/Flag_of_Belize.svg',
   'capital': 'Belmopan',
   'continent': 'North America',
   'population': 349728},
  {'gdp': 7557000000,
   'name': 'Benin',
   'area': 112622,
   'tld': '.bj',
   'id': 18,
   'flag': '//upload.wikimedia.org/wikipedia/commons/0/0a/Flag_of_Benin.svg',
   'capital': 'Porto-Novo',
   'continent': 'Africa',
   'population': 9988068},
  {'gdp': 1861000000,
   'name': 'Bhutan',
   'area': 38394,
   'tld': '.bt',
   'id': 19,
   'flag': '//upload.wikimedia.org/wikipedia/commons/9/91/Flag_of_Bhutan.svg',
   'capital': 'Thimphu',
   'continent': 'Asia',
   'population': 749090},
  {'gdp': 27035000000,
   'name': 'Bolivia',
   'area': 1098581,
   'tld': '.bo',
   'id': 20,
   'flag': '//upload.wikimedia.org/wikipedia/commons/4/48/Flag_of_Bolivia.svg',
   'capital': 'Sucre',
   'continent': 'South America',
   'population': 10027254},
  {'gdp': 17319000000,
   'name': 'Bosnia and Herzegovina',
   'area': 51209,
   'tld': '.ba',
   'id': 21,
   'flag': '//upload.wikimedia.org/wikipedia/commons/b/bf/Flag_of_Bosnia_and_Herzegovina.svg',
   'capital': 'Sarajevo',
   'continent': 'Europe',
   'population': 3791622},
  {'gdp': 14410000000,
   'name': 'Botswana',
   'area': 582000,
   'tld': '.bw',
   'id': 22,
   'flag': '//upload.wikimedia.org/wikipedia/commons/f/fa/Flag_of_Botswana.svg',
   'capital': 'Gaborone',
   'continent': 'Africa',
   'population': 2024904},
  {'gdp': 2254109000000,
   'name': 'Brazil',
   'area': 8515767,
   'tld': '.br',
   'id': 23,
   'flag': '//upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg',
   'capital': 'Brasília',
   'continent': 'South America',
   'population': 202794000},
  {'gdp': 16954000000,
   'name': 'Brunei',
   'area': 5765,
   'tld': '.bn',
   'id': 24,
   'flag': '//upload.wikimedia.org/wikipedia/commons/9/9c/Flag_of_Brunei.svg',
   'capital': 'Bandar Seri Begawan',
   'continent': 'Asia',
   'population': 393162},
  {'gdp': 50972000000,
   'name': 'Bulgaria',
   'area': 110879,
   'tld': '.bg',
   'id': 25,
   'flag': '//upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Bulgaria.svg',
   'capital': 'Sofia',
   'continent': 'Europe',
   'population': 7245677},
  {'gdp': 10687000000,
   'name': 'Burkina Faso',
   'area': 272967,
   'tld': '.bf',
   'id': 26,
   'flag': '//upload.wikimedia.org/wikipedia/commons/3/31/Flag_of_Burkina_Faso.svg',
   'capital': 'Ouagadougou',
   'continent': 'Africa',
   'population': 17322796},
  {'gdp': 2257000000,
   'name': 'Burundi',
   'area': 27834,
   'tld': '.bi',
   'id': 27,
   'flag': '//upload.wikimedia.org/wikipedia/commons/5/50/Flag_of_Burundi.svg',
   'capital': 'Bujumbura',
   'continent': 'Africa',
   'population': 9420248},
  {'gdp': 14038000000,
   'name': 'Cambodia',
   'area': 181035,
   'tld': '.kh',
   'id': 28,
   'flag': '//upload.wikimedia.org/wikipedia/commons/8/83/Flag_of_Cambodia.svg',
   'capital': 'Phnom Penh',
   'continent': 'Asia',
   'population': 15184116},
  {'gdp': 26094000000,
   'name': 'Cameroon',
   'area': 475442,
   'tld': '.cm',
   'id': 29,
   'flag': '//upload.wikimedia.org/wikipedia/commons/4/4f/Flag_of_Cameroon.svg',
   'capital': 'Yaoundé',
   'continent': 'Africa',
   'population': 20386799},
  {'gdp': 1585000000000,
   'name': 'Canada',
   'area': 9984670,
   'tld': '.ca',
   'id': 30,
   'flag': '//upload.wikimedia.org/wikipedia/en/c/cf/Flag_of_Canada.svg',
   'capital': 'Ottowa',
   'continent': 'North America',
   'population': 35427524},
  {'gdp': 1903000000,
   'name': 'Cape Verde',
   'area': 4033,
   'tld': '.cv',
   'id': 31,
   'flag': '//upload.wikimedia.org/wikipedia/commons/3/38/Flag_of_Cape_Verde.svg',
   'capital': 'Praia',
   'continent': 'Africa',
   'population': 491875},
  {'gdp': 2184000000,
   'name': 'Central African Republic',
   'area': 622984,
   'tld': '.cf',
   'id': 32,
   'flag': '//upload.wikimedia.org/wikipedia/commons/6/6f/Flag_of_the_Central_African_Republic.svg',
   'capital': 'Bangui',
   'continent': 'Africa',
   'population': 4709000},
  {'gdp': 10183000000,
   'name': 'Chad',
   'area': 1284000,
   'tld': '.td',
   'id': 33,
   'flag': '//upload.wikimedia.org/wikipedia/commons/4/4b/Flag_of_Chad.svg',
   'capital': "N'Djamena",
   'continent': 'Africa',
   'population': 13211000},
  {'gdp': 268314000000,
   'name': 'Chile',
   'area': 756102,
   'tld': '.cl',
   'id': 34,
   'flag': '//upload.wikimedia.org/wikipedia/commons/7/78/Flag_of_Chile.svg',
   'capital': 'Santiago',
   'continent': 'South America',
   'population': 17773000},
  {'gdp': 8358400000000,
   'name': 'China',
   'area': 9596961,
   'tld': '.cn',
   'id': 35,
   'flag': '//upload.wikimedia.org/wikipedia/commons/f/fa/Flag_of_the_People%27s_Republic_of_China.svg',
   'capital': 'Beijing',
   'continent': 'Asia',
   'population': 1365370000},
  {'gdp': 369813000000,
   'name': 'Colombia',
   'area': 1141748,
   'tld': '.co',
   'id': 36,
   'flag': '//upload.wikimedia.org/wikipedia/commons/2/21/Flag_of_Colombia.svg',
   'capital': 'Bogotá',
   'continent': 'South America',
   'population': 47662000},
  {'gdp': 616000000,
   'name': 'Comoros',
   'area': 1862,
   'tld': '.km',
   'id': 37,
   'flag': '//upload.wikimedia.org/wikipedia/commons/9/94/Flag_of_the_Comoros.svg',
   'capital': 'Moroni',
   'continent': 'Africa',
   'population': 743798},
  {'gdp': 13125000000,
   'name': 'Congo, Democratic Republic of',
   'area': 2345409,
   'tld': '.cd',
   'id': 38,
   'flag': '//upload.wikimedia.org/wikipedia/commons/6/6f/Flag_of_the_Democratic_Republic_of_the_Congo.svg',
   'capital': 'Kinshasa',
   'continent': 'Africa',
   'population': 69360000},
  {'gdp': 11530000,
   'name': 'Congo, Republic of',
   'area': 342000,
   'tld': '.cg',
   'id': 39,
   'flag': '//upload.wikimedia.org/wikipedia/commons/9/92/Flag_of_the_Republic_of_the_Congo.svg',
   'capital': 'Brazzaville',
   'continent': 'Africa',
   'population': 4559000},
  {'gdp': 45107000000,
   'name': 'Costa Rica',
   'area': 51100,
   'tld': '.cr',
   'id': 40,
   'flag': '//upload.wikimedia.org/wikipedia/commons/f/f2/Flag_of_Costa_Rica.svg',
   'capital': 'San José',
   'continent': 'North America',
   'population': 4667096},
  {'gdp': 56447000000,
   'name': 'Croatia',
   'area': 56594,
   'tld': '.hr',
   'id': 41,
   'flag': '//upload.wikimedia.org/wikipedia/commons/1/1b/Flag_of_Croatia.svg',
   'capital': 'Zagreb',
   'continent': 'Europe',
   'population': 4290612},
  {'gdp': 71017000000,
   'name': 'Cuba',
   'area': 109884,
   'tld': '.cu',
   'id': 42,
   'flag': '//upload.wikimedia.org/wikipedia/commons/b/bd/Flag_of_Cuba.svg',
   'capital': 'Havana',
   'continent': 'Caribbean',
   'population': 11167325},
  {'gdp': 22768000000,
   'name': 'Cyprus',
   'area': 9251,
   'tld': '.cy',
   'id': 43,
   'flag': '//upload.wikimedia.org/wikipedia/commons/d/d4/Flag_of_Cyprus.svg',
   'capital': 'Nicosia',
   'continent': 'Asia',
   'population': 865878},
  {'gdp': 196446000000,
   'name': 'Czech Republic',
   'area': 78865,
   'tld': '.cz',
   'id': 44,
   'flag': '//upload.wikimedia.org/wikipedia/commons/c/cb/Flag_of_the_Czech_Republic.svg',
   'capital': 'Prague',
   'continent': 'Europe',
   'population': 10517400},
  {'gdp': 22823000000,
   'name': "Côte d'Ivoire",
   'area': 322460,
   'tld': '.ci',
   'id': 45,
   'flag': '//upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_C%C3%B4te_d%27Ivoire.svg',
   'capital': 'Yamoussoukro',
   'continent': 'Africa',
   'population': 23700000},
  {'gdp': 314889000000,
   'name': 'Denmark',
   'area': 43094,
   'tld': '.dk',
   'id': 46,
   'flag': '//upload.wikimedia.org/wikipedia/commons/9/9c/Flag_of_Denmark.svg',
   'capital': 'Copenhagen',
   'continent': 'Europe',
   'population': 5634437},
  {'gdp': 1361000000,
   'name': 'Djibouti',
   'area': 23200,
   'tld': '.dj',
   'id': 47,
   'flag': '//upload.wikimedia.org/wikipedia/commons/3/34/Flag_of_Djibouti.svg',
   'capital': 'Djibouti',
   'continent': 'Africa',
   'population': 886000},
  {'gdp': 499000000,
   'name': 'Dominica',
   'area': 751,
   'tld': '.dm',
   'id': 48,
   'flag': '//upload.wikimedia.org/wikipedia/commons/c/c4/Flag_of_Dominica.svg',
   'capital': 'Roseau',
   'continent': 'Caribbean',
   'population': 71293},
  {'gdp': 58898000000,
   'name': 'Dominican Republic',
   'area': 48671,
   'tld': '.do',
   'id': 49,
   'flag': '//upload.wikimedia.org/wikipedia/commons/9/9f/Flag_of_the_Dominican_Republic.svg',
   'capital': 'Santo Domingo',
   'continent': 'Caribbean',
   'population': 9445281},
  {'gdp': 87495000000,
   'name': 'Ecuador',
   'area': 276841,
   'tld': '.ec',
   'id': 50,
   'flag': '//upload.wikimedia.org/wikipedia/commons/e/e8/Flag_of_Ecuador.svg',
   'capital': 'Quito',
   'continent': 'South America',
   'population': 15774200},
  {'gdp': 254671000000,
   'name': 'Egypt',
   'area': 1002450,
   'tld': '.eg',
   'id': 51,
   'flag': '//upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_Egypt.svg',
   'capital': 'Cairo',
   'continent': 'Asia',
   'population': 86736900},
  {'gdp': 23864000000,
   'name': 'El Salvador',
   'area': 21041,
   'tld': '.sv',
   'id': 52,
   'flag': '//upload.wikimedia.org/wikipedia/commons/3/34/Flag_of_El_Salvador.svg',
   'capital': 'San Salvador',
   'continent': 'North America',
   'population': 6384000},
  {'gdp': 14491000000,
   'name': 'Equatorial Guinea',
   'area': 28051,
   'tld': '.gq',
   'id': 53,
   'flag': '//upload.wikimedia.org/wikipedia/commons/3/31/Flag_of_Equatorial_Guinea.svg',
   'capital': 'Malabo',
   'continent': 'Africa',
   'population': 1622000},
  {'gdp': 3108000000,
   'name': 'Eritrea',
   'area': 117600,
   'tld': '.er',
   'id': 54,
   'flag': '//upload.wikimedia.org/wikipedia/commons/2/29/Flag_of_Eritrea.svg',
   'capital': 'Asmara',
   'continent': 'Africa',
   'population': 6536000},
  {'gdp': 22376000000,
   'name': 'Estonia',
   'area': 45227,
   'tld': '.ee',
   'id': 55,
   'flag': '//upload.wikimedia.org/wikipedia/commons/8/8f/Flag_of_Estonia.svg',
   'capital': 'Tallinn',
   'continent': 'Europe',
   'population': 1315819},
  {'gdp': 3861000000,
   'name': 'Eswatini',
   'area': 17364,
   'tld': '.sz',
   'id': 165,
   'flag': '//upload.wikimedia.org/wikipedia/commons/f/fb/Flag_of_Eswatini.svg',
   'capital': 'Lobamba',
   'continent': 'Africa',
   'population': 1268000},
  {'gdp': 41605000000,
   'name': 'Ethiopia',
   'area': 1104300,
   'tld': '.et',
   'id': 56,
   'flag': '//upload.wikimedia.org/wikipedia/commons/7/71/Flag_of_Ethiopia.svg',
   'capital': 'Addis Ababa',
   'continent': 'Africa',
   'population': 87952991},
  {'gdp': 3999000000,
   'name': 'Fiji',
   'area': 18272,
   'tld': '.fj',
   'id': 57,
   'flag': '//upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Fiji.svg',
   'capital': 'Suva',
   'continent': 'Oceania',
   'population': 858038},
  {'gdp': 247389000000,
   'name': 'Finland',
   'area': 338424,
   'tld': '.fi',
   'id': 58,
   'flag': '//upload.wikimedia.org/wikipedia/commons/b/bc/Flag_of_Finland.svg',
   'capital': 'Helsinki',
   'continent': 'Europe',
   'population': 5458038},
  {'gdp': 2611221000000,
   'name': 'France',
   'area': 640679,
   'tld': '.fr',
   'id': 59,
   'flag': '//upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg',
   'capital': 'Paris',
   'continent': 'Europe',
   'population': 65906000},
  {'gdp': 24076000000,
   'name': 'Gabon',
   'area': 267668,
   'tld': '.ga',
   'id': 60,
   'flag': '//upload.wikimedia.org/wikipedia/commons/0/04/Flag_of_Gabon.svg',
   'capital': 'Libreville',
   'continent': 'Africa',
   'population': 1711000},
  {'gdp': 3496000000,
   'name': 'Gambia',
   'area': 11295,
   'tld': '.gm',
   'id': 61,
   'flag': '//upload.wikimedia.org/wikipedia/commons/7/77/Flag_of_The_Gambia.svg',
   'capital': 'Banjul',
   'continent': 'Africa',
   'population': 1882450},
  {'gdp': 15830000000,
   'name': 'Georgia',
   'area': 69700,
   'tld': '.ge',
   'id': 62,
   'flag': '//upload.wikimedia.org/wikipedia/commons/0/0f/Flag_of_Georgia.svg',
   'capital': 'Tbilisi',
   'continent': 'Asia',
   'population': 4490500},
  {'gdp': 3425956000000,
   'name': 'Germany',
   'area': 357114,
   'tld': '.de',
   'id': 63,
   'flag': '//upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg',
   'capital': 'Berlin',
   'continent': 'Europe',
   'population': 80716000},
  {'gdp': 40711000000,
   'name': 'Ghana',
   'area': 238533,
   'tld': '.gh',
   'id': 64,
   'flag': '//upload.wikimedia.org/wikipedia/commons/1/19/Flag_of_Ghana.svg',
   'capital': 'Accra',
   'continent': 'Africa',
   'population': 27043093},
  {'gdp': 248941000000,
   'name': 'Greece',
   'area': 131990,
   'tld': '.gr',
   'id': 65,
   'flag': '//upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_Greece.svg',
   'capital': 'Athens',
   'continent': 'Europe',
   'population': 11123034},
  {'gdp': 783000000,
   'name': 'Grenada',
   'area': 344,
   'tld': '.gd',
   'id': 66,
   'flag': '//upload.wikimedia.org/wikipedia/commons/b/bc/Flag_of_Grenada.svg',
   'capital': "St. George's",
   'continent': 'Caribbean',
   'population': 103328},
  {'gdp': 50377000000,
   'name': 'Guatemala',
   'area': 108889,
   'tld': '.gt',
   'id': 67,
   'flag': '//upload.wikimedia.org/wikipedia/commons/e/ec/Flag_of_Guatemala.svg',
   'capital': 'Guatemala City',
   'continent': 'North America',
   'population': 15806675},
  {'gdp': 6092000000,
   'name': 'Guinea',
   'area': 245857,
   'tld': '.gn',
   'id': 68,
   'flag': '//upload.wikimedia.org/wikipedia/commons/e/ed/Flag_of_Guinea.svg',
   'capital': 'Conakry',
   'continent': 'Africa',
   'population': 10824200},
  {'gdp': 849000000,
   'name': 'Guinea-Bissau',
   'area': 36125,
   'tld': '.gw',
   'id': 69,
   'flag': '//upload.wikimedia.org/wikipedia/commons/0/01/Flag_of_Guinea-Bissau.svg',
   'capital': 'Bissau',
   'continent': 'Africa',
   'population': 1746000},
  {'gdp': 2851000000,
   'name': 'Guyana',
   'area': 214969,
   'tld': '.gy',
   'id': 70,
   'flag': '//upload.wikimedia.org/wikipedia/commons/9/99/Flag_of_Guyana.svg',
   'capital': 'Georgetown',
   'continent': 'South America',
   'population': 784894},
  {'gdp': 7187000000,
   'name': 'Haiti',
   'area': 27750,
   'tld': '.ht',
   'id': 71,
   'flag': '//upload.wikimedia.org/wikipedia/commons/5/56/Flag_of_Haiti.svg',
   'capital': 'Port-au-Prince',
   'continent': 'Caribbean',
   'population': 10413211},
  {'gdp': 18564000000,
   'name': 'Honduras',
   'area': 112492,
   'tld': '.hn',
   'id': 72,
   'flag': '//upload.wikimedia.org/wikipedia/commons/8/82/Flag_of_Honduras.svg',
   'capital': 'Tegucigalpa',
   'continent': 'North America',
   'population': 8555072},
  {'gdp': 124600000000,
   'name': 'Hungary',
   'area': 93028,
   'tld': '.hu',
   'id': 73,
   'flag': '//upload.wikimedia.org/wikipedia/commons/c/c1/Flag_of_Hungary.svg',
   'capital': 'Budapest',
   'continent': 'Europe',
   'population': 9879000},
  {'gdp': 13579000000,
   'name': 'Iceland',
   'area': 103000,
   'tld': '.is',
   'id': 74,
   'flag': '//upload.wikimedia.org/wikipedia/commons/c/ce/Flag_of_Iceland.svg',
   'capital': 'Reykjavík',
   'continent': 'Europe',
   'population': 326340},
  {'gdp': 1875213000000,
   'name': 'India',
   'area': 3166414,
   'tld': '.in',
   'id': 75,
   'flag': '//upload.wikimedia.org/wikipedia/commons/4/41/Flag_of_India.svg',
   'capital': 'New Delhi',
   'continent': 'Asia',
   'population': 1246160000},
  {'gdp': 878043000000,
   'name': 'Indonesia',
   'area': 1904569,
   'tld': '.id',
   'id': 76,

# Use the `.DataFrame.from_dict()` method to make the json object into a pandas dataframe

In [4]:
import pandas as pd
df = #
df.head()

                                              result
0  {'gdp': 20364000000, 'name': 'Afghanistan', 'a...
1  {'gdp': 12044000000, 'name': 'Albania', 'area'...
2  {'gdp': 207021000000, 'name': 'Algeria', 'area...
3  {'gdp': 3222000000, 'name': 'Andorra', 'area':...
4  {'gdp': 116308000000, 'name': 'Angola', 'area'...

# Using the series of dictionaries above, load the following dataframe below with the columns of `['gdp','name','area','capital','continent','population']`. Do this in 3 lines of code;

In [5]:
#
#
#
df.head()

            gdp         name     area           capital continent  population
0  2.036400e+10  Afghanistan   652230             Kabul      Asia    25500100
1  1.204400e+10      Albania    28748            Tirana    Europe     2821977
2  2.070210e+11      Algeria  2381741           Algiers    Africa    38700000
3  3.222000e+09      Andorra      468  Andorra la Vella    Europe       76098
4  1.163080e+11       Angola  1246700            Luanda    Africa    19183590

In [10]:
from google.colab import drive
drive.mount('/content/drive/')
df.to_csv('/content/drive/MyDrive/world.csv')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

# Here we set up the sqlite connection. In this case, it runs locally and we dont need to specify a database.

In [ ]:
import sqlite3
conn = sqlite3.connect(':memory:')
df.to_sql('world',conn,if_exists='replace',index=False)

195

# To run a query on the data frame, we do the following;

In [ ]:
query = '''
SELECT *
FROM world
'''

result = pd.read_sql_query(query,conn)
result.head()

            gdp         name     area           capital continent  population
0  2.036400e+10  Afghanistan   652230             Kabul      Asia    25500100
1  1.204400e+10      Albania    28748            Tirana    Europe     2821977
2  2.070210e+11      Algeria  2381741           Algiers    Africa    38700000
3  3.222000e+09      Andorra      468  Andorra la Vella    Europe       76098
4  1.163080e+11       Angola  1246700            Luanda    Africa    19183590

# Problem 1: Select the continent name, number of countries if contains, the total population and total area.

In [ ]:
query1 = '''
#
'''
result1 = pd.read_sql_query(query1,conn)
result1

       continent  total_countries  total_population  total_area
0         Africa               53        1015844577    29047819
1           Asia               47        4342955676    30156669
2      Caribbean               11          36149204      218887
3        Eurasia                2         149017400    17154985
4         Europe               44         610261850     8714329
5  North America               11         518755156    22298259
6        Oceania               14          37783477     8490477
7  South America               13         407618970    17738064

# Problem 2: Use a query to determine if there are any countries with more than 1 listed capital.

In [ ]:
query2 = '''
#
'''
result2 = pd.read_sql_query(query2,conn)
result2

Empty DataFrame
Columns: [name, count(capital)]
Index: []

# Problem 3: Select the name, populaltion and area of countries with a population/area density greater than 1000. Sort it by density from highest to least.

In [ ]:
query3 = '''
#
'''
result3 = pd.read_sql_query(query3,conn)
result3

         name  population    area
0      Monaco       36950       2
1   Singapore     5399200     710
2     Bahrain     1234571     765
3       Malta      416055     316
4  Bangladesh   156557000  147570
5    Maldives      317280     300

# Problem 4: List each country name where the population is larger than that of 'Japan'.

In [ ]:
query4 = '''
#
'''
result4 = pd.read_sql_query(query4,conn)
result4

            name
0     Bangladesh
1         Brazil
2          China
3          India
4      Indonesia
5        Nigeria
6       Pakistan
7         Russia
8  United States

# Problem 5: Show the countries in Europe with a per capita GDP  (GDP/population) greater than 'United Kingdom'.

In [ ]:
query6 = '''
#
'''
result6 = pd.read_sql_query(query6,conn)
result6

             name
0         Andorra
1         Austria
2         Belgium
3         Denmark
4         Finland
5          France
6         Germany
7         Iceland
8         Ireland
9   Liechtenstein
10     Luxembourg
11         Monaco
12    Netherlands
13         Norway
14     San Marino
15         Sweden
16    Switzerland

# Problem 6: What is the total population of ('Estonia', 'Latvia', 'Lithuania') combined!

In [ ]:
query6 = '''
#
'''
result6 = pd.read_sql_query(query6,conn)
result6

   sum(population)
0          6251750

# Problem 7: Upload this notebook to your github!